h1{
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.card{
    background-color: white;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  .card-img-top{
    height: 100px;
    width: 275px;
    align-items: center;
    justify-content: center;
    
  }
  .card{
    height: 300px;
    background-color:rgba(169, 169, 169, 0.452);
  }
  .card-body{
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
  }
  html{
    background-color: white;
  }
  .container{
    background-color:blanchedalmond;
  }